div{
    height: 30vh;
    width: 30vw;
    background-color: orange;
    border: solid black 3px;
    color: white;
    font-size: xx-large;
}


/* button{
    height: 5vh;
    width: 10vw;
    border: solid black;
    border-radius: 4px;
} */

body{
    transition-property: background-color;
    transition-duration: 0.8s;
}
.light{
    background-color: white;
    color: black;
}
.dark{
    background-color: black;
    color: white;
}