*{
    margin: 0;
    padding: 0;
}


header{
    width: 100vw;
    height: 10vh;
    background-color: rgb(14, 14, 97);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: white;
}

.main{
    display: flex;
    flex-direction:column;
}

.choices{
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.img{
    border-radius: 50%;
    border: solid white 3px;
}

.scoreboard{
    height: 20vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
}

.msg-container{
    height: 30vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mmm{
    width: 30vw;
    height: 5vh;
    border: solid black;
    border-radius: 20px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 20px;

}

.score{
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;

}

#user{
    font-size: 60px;
}
#comp{
    font-size: 60px;
}

.img:hover{
    border: solid black 3px;
}