*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}

.one{
    background-color: grey;
}

 p{
    color: rgb(195, 21, 21);
    font-size: 110px;;
}

.sub{
  background-color: burlywood;
  color: blueviolet;
  font-size:10vh;
}


button{
    color: black;
    background-color: cornflowerblue;
}


.box{
    width:40vw;
    height: 300px;
    color: rgb(108, 7, 108);
    font-size: 60px;
}

.boxing{
    background-color: yellow;
}

.boxx{
    border: solid black 5px;
}

.one p::selection{
    background-color: purple;
    color: yellow;
}